 .u-section-1 {
  background-image: none;
  min-height: 1225px;
}

.u-section-1 .u-image-1 {
  height: 798px;
  object-position: 67.42% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  height: 688px;
  width: 438px;
  background-image: none;
  margin: -314px calc(((100% - 1140px) / 2) + 50px) 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 275px;
  width: 527px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -666px calc(((100% - 1140px) / 2) + 12px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  margin: 0 1px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  font-family: Montserrat, sans-serif;
  margin: 20px 0 0 1px;
}

.u-section-1 .u-text-3 {
  margin: 19px 1px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 18px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 336px;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-align: left;
  margin: 2px auto 0 2px;
}

.u-section-1 .u-line-1 {
  width: 190px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-5 {
  text-align: left;
  font-size: 1.0625rem;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-align: left;
  margin: 2px auto 0 2px;
}

.u-section-1 .u-line-2 {
  width: 190px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-7 {
  text-align: left;
  font-size: 1rem;
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-align: left;
  margin: 2px auto 0 2px;
}

.u-section-1 .u-line-3 {
  width: 190px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-9 {
  text-align: left;
  font-size: 1rem;
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  text-align: left;
  margin: 2px auto 0 2px;
}

.u-section-1 .u-line-4 {
  width: 190px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-11 {
  text-align: left;
  font-size: 1rem;
  font-style: normal;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    object-position: 50.74% 50%;
  }

  .u-section-1 .u-shape-1 {
    height: 703px;
    margin-top: -306px;
    margin-right: calc(((100% - 940px) / 2) + 12px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -689px;
    margin-right: calc(((100% - 940px) / 2) + -28px);
    height: auto;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 351px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2) + 12px);
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 521px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    object-position: 49.92% 50%;
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 12px);
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 558px;
  }

  .u-section-1 .u-text-4 {
    margin-left: auto;
  }

  .u-section-1 .u-line-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: auto;
  }

  .u-section-1 .u-line-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-left: auto;
  }

  .u-section-1 .u-line-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    margin-left: auto;
  }

  .u-section-1 .u-line-4 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1859px;
  }

  .u-section-1 .u-image-1 {
    object-position: 50.53% 50%;
  }

  .u-section-1 .u-shape-1 {
    height: 637px;
    width: 340px;
    margin-top: -241px;
    margin-right: calc(((100% - 340px) / 2) + -24px);
  }

  .u-section-1 .u-group-1 {
    min-height: 204px;
    width: 340px;
    margin-top: -617px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 15px 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1019px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 554px;
}

.u-section-2 .u-group-1 {
  width: 351px;
  min-height: 437px;
  margin: 44px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 28px 0 0;
}

.u-section-2 .u-image-1 {
  width: 161px;
  height: 8px;
  margin: 108px auto 0 0;
}

.u-section-2 .u-list-1 {
  width: 822px;
  grid-template-rows: repeat(3, auto);
  margin: -430px 0 18px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 412px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  width: 200px;
  height: 200px;
  background-image: url("images/printer.png");
  background-position: 50% 50%;
  margin: 0 14px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  width: 200px;
  height: 200px;
  background-image: url("https://i.pinimg.com/736x/53/b7/1c/53b71c4b750d204389c48591c7c70da2.jpg");
  background-position: 50% 50%;
  margin: 0 14px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-image-4 {
  width: 200px;
  height: 200px;
  background-image: url("https://filteritsite.files.wordpress.com/2017/02/onlineorder.jpg?w=1200");
  background-position: 50% 50%;
  margin: 0 14px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-2 .u-group-1 {
    width: 309px;
    min-height: 440px;
    margin-top: 55px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-list-1 {
    width: 642px;
    margin-top: -451px;
    margin-bottom: 46px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 439px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-text-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-text-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-2 .u-group-1 {
    min-height: 228px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-right: 519px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 661px;
  }

  .u-section-2 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-image-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-image-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1353px;
  }

  .u-section-2 .u-group-1 {
    min-height: 208px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 10px 6px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 359px;
  }

  .u-section-2 .u-list-1 {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1040px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1400px;
  }

  .u-section-2 .u-group-1 {
    min-height: 264px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-right: 159px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-layout-wrap-1 {
  width: 966px;
  margin: 64px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 87px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  width: 183px;
  margin: 95px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  width: 312px;
  margin: 11px auto 0;
}

.u-section-3 .u-text-4 {
  line-height: 2;
  width: 315px;
  font-weight: 700;
  margin: 68px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  margin: 0 auto;
}

.u-section-3 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  width: 100%;
  border-style: none;
  font-weight: 500;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 284px;
  }

  .u-section-3 .u-text-4 {
    width: 284px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1048px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 264px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 83px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}